/*
░█▀▀░█▀█░█░░░█▀█░█▀▄░█▀▀
░█░░░█░█░█░░░█░█░█▀▄░▀▀█
░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀

Load preferred colorscheme
*/

/* Blurred Color Scheme */
@import url('colors/blurred.css');

/* Solid Color Scheme */
/*
@import url('colors/solid.css');
*/

/*
░█░█░▀█▀░░░█▀▀░█░░░█▀▀░█▄█░█▀▀░█▀█░▀█▀░█▀▀
░█░█░░█░░░░█▀▀░█░░░█▀▀░█░█░█▀▀░█░█░░█░░▀▀█
░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░░▀░░▀▀▀

Load Customized Firefox's UI Elements
*/

@import url('parts/compact-bookmarks.css');
@import url('parts/sliding-bookmarks-bar.css');
@import url('parts/main-window.css');
@import url('parts/toolbar.css');
@import url('parts/tabbar.css');
@import url('parts/urlbar.css');
@import url('parts/sidebar.css');
@import url('parts/arrow-panel.css');
@import url('parts/findbar.css');
@import url('parts/context-menu.css');
@import url('parts/customization-window.css');
@import url('parts/window-controls.css');

/* Selected Tab Background Color */
.tab-background[selected="true"] {
  background: var(--autocomplete-popup-highlight-background) !important;
  opacity: 0.8;
}
/* Turn on Vibrancy aka macOS Transparency and Blur in the URL Bar, Nav Bar, and Side
Panel, Findbar, and Bookmarks Bar */
#main-window,
#nav-bar,
#sidebar-header,
#history-panel,
#sidebar-search-container,
#bookmarksPanel,
#PersonalToolbar,
findbar {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

/* Selected Tab Background Color */
.tab-background[selected="true"] {
  background: var(--autocomplete-popup-highlight-background) !important;
  opacity: 0.8;
}

/* Various Opacities */
#appMenu-popup,
#customizationui-widget-panel,
#pageActionPanel,
#editBookmarkPanel,
#protections-popup,
#pageActionActivatedActionPanel,
#widget-overflow,
#urlbar-background,
#identity-popup,
.panel-arrowcontent,
menupopup[hasbeenopened="true"] {
  opacity: 0.95;
}



/* Possible Bug Fix Keeps sidebar from being weirdly affected by vibrancy settings in find bar*/
findbar {
  opacity: 0.9 !important;
}
/* Global */

/* Remove Themeing */
menupopup,
menuitem,
menu {
  -moz-appearance: none !important;
}

/* Softens the Menu Separator in Right Click Menus */
menupopup menuseparator {
  -moz-appearance: meter !important;
}

/* Keep Rounded Edges on Menus */
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu {
  border-radius: 5px !important;
}

/* Right Click Menu */

/*  Sets Background Color, Text Color, and Opacity  */
#mainPopupSet menupopup {
  color: var( --lwt-toolbar-field-color); /* Text Color */
  background-color: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
  opacity: 0.95;
}

/* Color of hovered menu item */
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
  background-color: var(--lwt-toolbarbutton-icon-fill-attention) !important;
}

/* Side Panel Header Drop Down */
image.panel-arrow {
  color: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color of the little arrow */
}

/* Side Panel Drop Down Menu Hover Color */
.subviewbutton:hover {
  background-color: var(--lwt-toolbarbutton-icon-fill-attention) !important
}

box.panel-arrowcontent{ 
  color:var(--lwt-tab-text, var(--toolbar-color)) !important; /* Text Color */
  background: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
  box-shadow:  var(--autocomplete-popup-highlight-background) !important; 
  opacity: 0.95;
}

/* context menus in the ui like the url bar */
arrowscrollbox.menupopup-arrowscrollbox {
  color:var(--lwt-tab-text, var(--toolbar-color)) !important; /* Text Color */
  background: var(--autocomplete-popup-highlight-background) !important; /*This is the right click menu color*/
  box-shadow:  var(--autocomplete-popup-highlight-background) !important; 
  opacity: 0.95;
  border-radius: 5px !important;
}

image.panel-arrow {
	fill: var(--autocomplete-popup-highlight-background) !important;
	stroke:  var(--autocomplete-popup-highlight-background) !important;
}
.findbar-closebutton {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}
/* Hides all the tabs if there is only one tab */
#tabbrowser-tabs tab:only-of-type,
#tabbrowser-tabs tab:only-of-type + #tabs-newtab-button {
  display: none !important;
}
/* Not Sure If Needed URL Bar Input Context Menu */
menupopup[hasbeenopened="true"] {
  background-color: var(--color8) !important;
  color: white !important;
}
*/

/* Find Bar Input Field color and text color */
.findbar-textbox.findbar-find-fast {
  background-color: white !important;
  color: black !important;
}

/* Color of Buttons When Hovering in Find Bar */
.findbar-button.tabbable:hover {
  background-color: var(--autocomplete-popup-highlight-background) !important;
}

/* Color of Selected Button */
.findbar-button.tabbable[checked="true"] {
  background-color: var(--autocomplete-popup-highlight-background) !important;
}

/*Color of Text and Highlight Color in Find Bar Input Field */
::-moz-selection { 
  /* color: red; */
  background: var(--autocomplete-popup-highlight-background) !important;
}

box#customization-container {
  -moz-appearance: -moz-mac-vibrancy-dark;
}

/*Button Color*/
.customizationmode-button {
  -moz-appearance: none !important;
  background: var( --lwt-selected-tab-background-color) !important;
}

/* Button Color on Hover */
.customizationmode-button:hover {
  -moz-appearance: none !important;
  background: var(--autocomplete-popup-highlight-background) !important;
}

/* Button Text */
.customizationmode-button label {
  color: var(--lwt-toolbar-field-color) !important; 
}

/* Text Color on Hover */
.customizationmode-button:hover label {
  color: var(--autocomplete-popup-highlight-color) !important;
}

/* Remove border From Buttons */
.customizationmode-button{
  border: none !important;
}
/* URL Bar Drop Down Coloring */
vbox.panel-subview-body {
  background-color: var(--autocomplete-popup-highlight-background) !important;
}
box.panel-header {
  background-color: var(--autocomplete-popup-highlight-background) !important;
}

#overflowMenu-customize-button {
  background-color: var(--autocomplete-popup-highlight-background) !important;
}
/* Hide some buttons for hover 
*/
	#nav-bar:not([customizing="true"]) > #nav-bar-customization-target > #urlbar-container:not(:hover) > #urlbar:not([focused]) > #urlbar-input-container > #page-action-buttons {
		opacity: 0;
	}	
	#page-action-buttons {
		transition: opacity 0.15s ease;
	}
	#nav-bar:not([customizing="true"]) > #nav-bar-customization-target > #urlbar-container:not(:hover) > #urlbar:not([focused]) > #urlbar-input-container > #identity-box {
		opacity: 0;
		/*visibility: collapse;*/
	}
	#identity-box {
		/*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
		transition: opacity 0.15s ease;
	}
	#nav-bar:not([customizing="true"]) > #nav-bar-customization-target > #urlbar-container:not(:hover) > #urlbar:not([focused]) > #urlbar-input-container > #tracking-protection-icon-container {
		opacity: 0;
	}
	#tracking-protection-icon-container {
		transition: opacity 0.15s ease;
	}

	  
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-icon-image {
		opacity: 0.8 !important;

}	
/* Design of the plus/newtab button */
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
    border: 0 !important; 
	border-radius: 20px 20px 20px 20px !important;
	background-image: none !important;
	background-color:#404040d9 !important;
}

toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon {
    border: 0 !important;
    border-bottom: 1px solid #ffffff30 !important;
	border-radius: 20px 20px 20px 20px !important;
	background-image: none !important;
	background-color: #0000004d !important;
	
}
/* Show tab close button when cursor is over the tab icon  

.tab-close-button{
  -moz-box-ordinal-group: 0;
  display: -moz-box !important;
  position: relative;
  margin-right: -18px !important;
  z-index: -1;
  visibility: hidden;
}
.tabbrowser-tab[pinned] .tab-close-button{ display: none !important; }
.tab-close-button:hover{ background-color: var(--lwt-accent-color); }

.tabbrowser-tab[selected] .tab-close-button:hover{ background-color: var(--lwt-selected-tab-background-color, var(--toolbar-bgcolor)); }


.tab-icon-image:hover ~ .tab-close-button,
.tab-close-button:hover,
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button{ visibility: visible; z-index: 1 }
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button,
.tab-icon-image:not([src]) ~  .tab-close-button:hover {margin-right: 0px !important; }

	

 Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: -moz-box !important;
  opacity: 0;
  visibility: collapse !important;
 transition: opacity 0.25s, visibility 0.25s ease-in !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important; 
}
